<div class="hidden lg:block w-full">
  <div class="tabs">
    <a href="<%= app_project_dashboard_path(@project) %>" <%= @active_submenu == 'dashboard' ? 'class=active' : '' %>>
      Dashboard
    </a>
    <a href="<%= app_project_members_path(@project) %>" <%= @active_submenu == 'members' ? 'class=active' : '' %>>
      Membros
    </a>
  </div>
</div>
<div class="lg:hidden w-full">
  <div class="mobile-tabs">
    <select name="submenu" id="submenu" onchange="redirect(this)">
      <option class="submenu-item" value="dashboard" data-href="<%= app_project_dashboard_path(@project) %>" <%= @active_submenu == 'dashboard' ? 'selected' : '' %>>Dashboard</option>
      <option class="submenu-item" value="members" data-href="<%= app_project_members_path(@project) %>"  <%= @active_submenu == 'members' ? 'selected' : '' %>>Membros</option>
    </select>
  </div>
</div>
<script>
  function redirect(item) {
    var selected = item.options[item.selectedIndex];
  
    window.location.href = selected.dataset.href;
  }
</script>
