<div class="flex items-center justify-center py-16">
  <div class="w-full max-w-sm">
    <div class="flex-none">
      <a href="<%= root_path %>" class="flex flex-col text-center mb-8">
        <span class="text-center text-black text-2xl font-semibold">S2GP</span>
      </a>
      <h1 class="text-xl font-semibold">
        <%= I18n.t('devise.views.confirmations.new.title') %><br />
        <span class="font-normal"><%= I18n.t('devise.views.confirmations.new.sub_title') %></span>
      </h1>
      <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post, class: 'pt-4 pb-4' }) do |f| %>
        <%= render 'devise/shared/error_messages' %>
        <div class="field">
          <%= f.label :email %>
          <%= f.email_field :email, autocomplete: 'email', placeholder: '', required: true %>
        </div>
        <div class="actions">
          <%= f.button I18n.t('devise.views.confirmations.new.submit'), type: :submit, class: 'primary w-full' %>
        </div>
      <% end %>
      <%= render 'devise/shared/links' %>
    </div>
  </div>
</div>
