<%= render 'app/shared/header' %>
<div class="flex items-center mb-4">
  <h1><%= t("pages.app.pages.team.title") %></h1>
  <div class="flex flex-auto justify-end">
    <%= link_to t("pages.app.pages.team.buttons.new"), '#', class: 'button-link' %>
  </div>
</div>
<table class="table-auto w-full">
  <thead>
    <tr>
      <th>{photo_url}</th>
      <th>{name}</th>
      <th class="hidden md:block">{role}</th>
      <th>{edit}</th>
    </tr>
  </thead>
  <tbody>
    <% @team.each do |member| %>
      <tr>
        <td>
          <img alt="team" class="rounded-full w-12 h-12 object-cover object-center mx-auto bg-gray-100" src="<%= member[:photo_url] %>">
        </td>
        <td class="text-left">
          <%= member[:name] %>
        </td>
        <td class="hidden md:block">
          <%= member[:role] %>
        </td>
        <td>
          <a href="#" class="flex justify-center">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z" />
            </svg>
          </a>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
