<div class="flex items-center justify-center py-16">
  <div class="w-full max-w-sm">
    <div class="flex-none">
      <a href="<%= root_path %>" class="flex flex-col text-center mb-8">
        <span class="text-center text-black text-2xl font-semibold"><%= @group[:short_name] %></span>
      </a>
      <h1 class="text-xl font-semibold">
        <%= t('devise.views.registrations.new.title') %><br />
      <span class="font-normal"><%= t('devise.views.registrations.new.sub_title') %></span>
    </h1>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: 'pt-4 pb-4' }) do |f| %>
      <%= render 'devise/shared/error_messages' %>
      <div class="field">
        <%= f.label :email %>
        <%= f.email_field :email, autocomplete: 'email', placeholder: '', required: true %>
      </div>
      <div class="field">
        <%= f.label :password %>
        <%= f.password_field :password, autocomplete: 'new-password', placeholder: '', required: true %>
        <% if @minimum_password_length %>
          <span class="flex justify-end inline-block text-xs text-gray-500 italic">(mínimo de <%= @minimum_password_length %> caracteres)</span>
        <% end %>
      </div>
      <div class="field">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, autocomplete: 'new-password', placeholder: '', required: true %>
      </div>
      <div class="actions">
        <%= f.button t('devise.views.registrations.new.submit'), type: :submit, class: 'primary w-full',
          data: { disable_with: '<div class="flex items-center justify-center my-2 space-x-1 animate-pulse"><div class="w-2 h-2 bg-gray-400 rounded-full"></div><div class="w-2 h-2 bg-gray-400 rounded-full"></div><div class="w-2 h-2 bg-gray-400 rounded-full"></div></div>' } %>
      </div>
    <% end %>
    <%= render 'devise/shared/links' %>
  </div>
</div>
