<%= render 'app/pages/active_project/shared/subheader' %>
<div class="max-w-screen-lg mx-auto flex flex-wrap">
  <%= render partial: 'app/pages/active_project/shared/menu', locals: { submenu: 'activities' } %>
  <div class="mb-4 flex flex-auto justify-end">
    <% if current_user.admin? || @project.researcher?(current_user.profile) %>
      <%= link_to t('shared.create'), new_app_project_activity_path(@project), class: 'open-modal button-link', remote: true %>
    <% end %>
  </div>
  <table class="table-auto w-full">
    <thead>
      <tr>
        <th class="w-1/12"><%= Activity.human_attribute_name('status') %></th>
        <th class="w-1/12"><%= Activity.human_attribute_name('priority') %></th>
        <th><%= Activity.human_attribute_name('description') %></th>
        <th class="hidden lg:table-cell"><%= Activity.human_attribute_name('participants') %></th>
        <th class="hidden lg:table-cell w-1/12"><%= Activity.human_attribute_name('start_at') %></th>
        <th class="hidden lg:table-cell w-1/12"><%= Activity.human_attribute_name('end_at') %></th>
        <th class="w-1/12"><%= t('shared.view') %></th>
        <% if current_user.admin? || @project.researcher?(current_user.profile) %>
          <th class="w-1/12"><%= t('shared.edit') %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @activities.each do |activity| %>
        <tr>
          <td>
            <%= Activity.human_attribute_name("statuses.#{activity.status}") %>
          </td>
          <td>
            <%= Activity.human_attribute_name("priorities.#{activity.priority}") %>
          </td>
          <td class="text-left">
            <%= activity.description %>
          </td>
          <td class="hidden lg:table-cell">
            <div class="flex space-x-2">
              <% activity.participants.by_name.each do |participant| %>
                <a href="<%= edit_app_project_activity_path(@project, activity) %>" class="open-modal" data-remote="true" title="<%= participant.profile.name%>" %>
                  <% if participant.profile.avatar.attached? %>
                    <%= image_tag participant.profile.avatar, class: 'rounded-full w-6 h-6 object-cover object-center mx-auto bg-gray-100' %>
                  <% else %>
                    <div class="rounded-full w-6 h-6 object-cover object-center mx-auto flex justify-center items-center text-gray-300 bg-gray-100">
                      <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 16l4.586-4.586a2 2 0 012.828 0L16 16m-2-2l1.586-1.586a2 2 0 012.828 0L20 14m-6-6h.01M6 20h12a2 2 0 002-2V6a2 2 0 00-2-2H6a2 2 0 00-2 2v12a2 2 0 002 2z" />
                      </svg>
                    </div>
                  <% end %>
                </a>
              <% end %>
            </div>
          </td>
          <td class="hidden lg:table-cell">
            <%= activity.start_at&.strftime('%d/%m/%Y') %>
          </td>
          <td class="hidden lg:table-cell">
            <%= activity.end_at&.strftime('%d/%m/%Y') %>
          </td>
          <td>
            <a href="<%= app_project_activity_path(@project, activity) %>" class="open-modal appearance-none flex justify-center" data-remote="true">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" />
              </svg>
            </a>
          </td>
          <% if current_user.admin? || @project.researcher?(current_user.profile) %>
            <td>
              <a href="<%= edit_app_project_activity_path(@project, activity) %>" class="open-modal appearance-none flex justify-center" data-remote="true">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z" />
                </svg>
              </a>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<%= render 'app/shared/modal' %>
