<%= form_with(model: [ :app, user ], local: false, id: 'modal-form') do |f| %>
  <h1 class="text-xl font-semibold"><%= title %></h1>
  <div id="modal-errors"></div>
  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email, required: true %>
  </div>
  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password, autocomplete: 'new-password' %>
  </div>
  <div class="field">
    <%= f.label :roles %>
    <div class="flex flex-wrap gap-4">
      <% ['admin'].each do |role| %>
        <div class="flex items-center my-2">
          <%= f.check_box :roles, { multiple: true }, role, nil %>
          <%= f.label "roles_#{role}", role %>
        </div>
      <% end %>
    </div>
  </div>
  <%= f.fields_for :profile do |p| %>
    <div class="field">
      <%= p.label :name %>
      <%= p.text_field :name, required: true %>
    </div>
    <div class="field">
      <%= p.label :lattes_url %>
      <%= p.text_field :lattes_url %>
    </div>
  <% end %>
  <div class="actions">
    <%= f.button t('shared.cancel'), type: :button, class: 'w-full sm:w-1/2', onClick: 'resetModal()',
        data: { disable_with: '<div class="flex items-center justify-center my-2 space-x-1 animate-pulse"><div class="w-2 h-2 bg-gray-400 rounded-full"></div><div class="w-2 h-2 bg-gray-400 rounded-full"></div><div class="w-2 h-2 bg-gray-400 rounded-full"></div></div>' } %>
    <%= f.button t('shared.submit'), type: :submit, class: 'primary w-full sm:w-1/2',
        data: { disable_with: '<div class="flex items-center justify-center my-2 space-x-1 animate-pulse"><div class="w-2 h-2 bg-gray-400 rounded-full"></div><div class="w-2 h-2 bg-gray-400 rounded-full"></div><div class="w-2 h-2 bg-gray-400 rounded-full"></div></div>' } %>
  </div>
<% end %>