<%= render 'layouts/header' %>
<div class="container mx-auto p-4">
  <div class="flex flex-wrap items-center">
    <% if @group[:cover_image].present? %>
    <div class="md:w-1/3 p-8">
      <%= image_tag(@group[:cover_image]) %>
    </div>
    <% end %>
    <div class="mx-auto md:w-2/3">
      <h2 class="text-2xl text-gray-800 mt-4 mb-2"><%= @group["name_#{I18n.locale.to_s.sub('-','_')}".to_sym] %></h2>
      <span class="inline-block h-1 w-24 rounded bg-gray-100 mb-4"></span>
      <div class="text-sm text-gray-600 text-justify leading-loose"><%= simple_format(@group["about_#{I18n.locale.to_s.sub('-','_')}".to_sym]) %></div>
    </div>
  </div>
</div>
<%= render 'layouts/footer' %>
