<div class="hidden lg:block w-full">
  <div class="tabs">
    <a href="<%= app_meetings_path %>" <%= 'class=active' if submenu.nil? %>>
      <%= t('pages.app.pages.meetings.active') %>
    </a>
    <a href="<%= app_meetings_path %>?show=all" <%= 'class=active' if submenu == 'all' %>>
      <%= t('pages.app.pages.meetings.all') %>
    </a>
    <a href="<%= app_meetings_path %>?show=mine" <%= 'class=active' if submenu == 'mine' %>>
      <%= t('pages.app.pages.meetings.mine') %>
    </a>
  </div>
</div>
<div class="lg:hidden w-full">
  <div class="mobile-tabs">
    <select name="submenu" id="submenu" onchange="redirect(this)">
      <option class="submenu-item" value="meetings" data-href="<%= app_meetings_path %>" <%= 'selected' if submenu.nil? %>><%= t('pages.app.pages.meetings.active') %></option>
      <option class="submenu-item" value="meetings" data-href="<%= app_meetings_path %>?show=all" <%= 'selected' if submenu == 'all'%>><%= t('pages.app.pages.meetings.all') %></option>
      <option class="submenu-item" value="meetings" data-href="<%= app_meetings_path %>?show=mine" <%= 'selected' if submenu == 'mine' %>><%= t('pages.app.pages.meetings.mine') %></option>
    </select>
  </div>
</div>
<script>
  function redirect(item) {
    var selected = item.options[item.selectedIndex];
  
    window.location.href = selected.dataset.href;
  }
</script>
