<%= render 'app/shared/header' %>
<div class="flex items-center mb-4">
  <h1><%= t('pages.app.pages.projects.title') %></h1>
  <div class="flex flex-auto justify-end">
    <% if current_user.admin? %>
      <%= link_to t('shared.new'), new_app_project_path, class: 'open-modal button-link', remote: true %>
    <% end %>
  </div>
</div>
<%= render partial: 'table', locals: { projects: @projects } %>
<%= render 'app/shared/modal' %>
