<%= render 'app/shared/header' %>
<div class="flex items-center mb-4">
  <h1><%= t("pages.app.pages.projects.title") %></h1>
  <div class="flex flex-auto justify-end">
    <%= link_to t("pages.app.pages.projects.buttons.new"), new_app_user_path, class: 'open-modal button-link', remote: true %>
  </div>
</div>
<table class="table-auto w-full">
  <thead>
    <tr>
      <th class="w-1/12">{status}</th>
      <th>{title}</th>
      <th class="hidden md:table-cell w-1/12">{start_date}</th>
      <th class="hidden md:table-cell w-1/12">{end_date}</th>
      <th class="w-1/12">{view}</th>
    </tr>
  </thead>
  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td>
          <%= project[:status] %>
        </td>
        <td class="text-left">
          <%= project[:title] %>
        </td>
        <td class="hidden md:table-cell">
          <%= project[:start_date] %>
        </td>
        <td class="hidden md:table-cell">
          <%= project[:end_date] %>
        </td>
        <td>
          <a href="" class="open-modal appearance-none flex justify-center" data-remote="true">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" />
            </svg>
          </a>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
