<%= render 'app/shared/header' %>
<div class="flex items-center mb-4">
  <h1><%= t('pages.app.pages.profile.title') %></h1>
  <div class="flex flex-auto justify-end">
    <%= link_to t('shared.edit'), edit_app_profile_path(current_user), class: 'open-modal button-link', remote: true %>
  </div>
</div>
<div class="max-w-screen-md mx-auto flex flex-wrap">
  <div class="w-full lg:w-1/3 flex flex-col">
    <% if @profile.avatar.attached? %>
      <%= image_tag @profile.avatar, class: 'rounded-full w-48 h-48 object-cover object-center mx-auto mb-4 bg-gray-100' %>
      <span class="inline-flex justify-center">
        <%= link_to raw('<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
          </svg>'), app_profile_delete_avatar_path(@profile), data: { confirm: t('shared.are_you_sure') }, method: :delete %>
      </span>
    <% else %>
      <div class="rounded-full w-48 h-48 object-cover object-center mx-auto mb-4 flex justify-center items-center text-gray-300 bg-gray-100">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 9a2 2 0 012-2h.93a2 2 0 001.664-.89l.812-1.22A2 2 0 0110.07 4h3.86a2 2 0 011.664.89l.812 1.22A2 2 0 0018.07 7H19a2 2 0 012 2v9a2 2 0 01-2 2H5a2 2 0 01-2-2V9z" />
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 13a3 3 0 11-6 0 3 3 0 016 0z" />
        </svg>
      </div>
      <% if @profile.name %>
        <span class="inline-flex justify-center">
          <%= link_to raw('<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>'), app_profile_new_avatar_path(@profile), class: 'open-modal', remote: true %>
        </span>
      <% end %>
    <% end %>
  </div>
  <div class="w-full lg:w-2/3">
    <%= form_with(model: [ :app, @profile ]) do |f| %>
      <div class="field">
        <%= f.label :name %>
        <%= f.text_field :name, disabled: true %>
      </div>
      <div class="field">
        <%= label_tag :email %>
        <%= text_field_tag :email, current_user.email, disabled: true %>
      </div>
      <div class="field">
        <%= f.label :role %>
        <%= f.text_field :role, value: @profile.role.nil? ? nil : Profile.human_attribute_name("roles.#{@profile.role}"), disabled: true %>
      </div>
      <div class="field">
        <%= f.label :lattes_url %>
        <%= f.text_field :lattes_url, disabled: true %>
      </div>
    <% end %>
  </div>
</div>
<%= render 'app/shared/modal' %>
